.timeCount {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  user-select: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .title {
    font-size: 20px;
    color: #595959;
  }
  .countTime {
    height: 80px;
    line-height: 80px;
    font-size: 30px;

    .item {
      margin: 0 5px;
    }
  }
  .info {
    height: 50px;
    font-size: 16px;
    font-weight: 300;
    color: #8c8c8c;
    display: flex;
    align-items: center;

    .names {
      display: flex;
      align-items: center;
      .name {
        padding: 0 2px;
      }
    }
    .start {
      font-size: 18px;

      .since {
        margin: 0 15px;
      }
      .time {

      }
    }
  }
}